<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head_page">
<body>
<div class="cau-hoi">
    <div class="container">
        <div class="section">
            <div class="box-name">

                <h1 class="mt-4">Câu hỏi thứ 3</h1>
                <h2 class="heading-question">1, 2, 3, 4, ?</h2>
                <div id="clock">
                    <span id="seconds">15</span>
                </div>
                <div class="question-img-box">
                    <img th:src="@{/img/happy.png}" alt="" class="question-img">
                </div>
                <!--                Score: <span id="score-span"></span>-->
                <!--                <meter id="score-meter" min="0" low="5" max="20"></meter>-->
                <ul style="list-style: none" class="row" id="lua-chon-cua-ban">
                    <li class="col-lg-6"><button data-answer="A" class="btn-opinion-test" data-toggle="modal" data-target="#exampleModal">A. 5 </button></li>
                    <li class="col-lg-6"><button data-answer="B" class="btn-opinion-test" data-toggle="modal" data-target="#exampleModal">B. 4</button></li>
                    <li class="col-lg-6"6><button data-answer="C" class="btn-opinion-test" data-toggle="modal" data-target="#exampleModal">C. 6</button></li>
                    <li class="col-lg-6"> <button data-answer="D" class="btn-opinion-test" data-toggle="modal" data-target="#exampleModal">D. 0</button></li>
                </ul>


                <a th:href="@{/first-game}" class="question-next-link">Hết. Trở lại lựa chế độ chơi>></a>


            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Điểm sau khi chơi thử</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="diem-cuoi-cung">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>

</div>
<span>@[[${session.user.name}]]</span>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/handle-question.js}"></script>
    <script>
        if (timeLeft == 0) {
            $('#diem-cuoi-cung').text('Điểm đạt được: ' + localStorage.getItem('scoreTest'))
        }
    </script>
</body>
</html>