<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::head_page">
</head>

</head>
<body>
    <div class="main">
       <div class="container">
           <div class="section">
               <div class="box-name">
                   <div class="row">
                       <div class="mobile-img-box col-lg-4 col-sm-12 ">
                           <img th:src="@{/img/hoa-voi-tra.jpg}" alt="" class="box-name_img">
                       </div>
                       <div class="content col-lg-8 col-sm-12">
                           <form method="post" action="/enter-game" id="formPlayer">
                               <h1 class="heading">
                                   Cho xin cái tênnnnnnnnnnn
                               </h1>
                               <div>
                                   <p id="td" class="player-name">Thảo Dương</p>
                                   <input type="hidden" value="Thảo Dương" name="name" id="name1">
                               </div>
                               <div>
                                   <p id="pt" class="player-name">Phương Thảo</p>
                                   <input type="hidden" value="Phương Thảo" name="name" id="name2">
                               </div>
                               <div>
                                   <p class="player-name deo-phai">Đéo phải</p>

                               </div>
                                <div id="diff-name">

                                </div>
                                <p class="error">Từ từ chọn cái tên đã <img th:src="@{/img/happy.png}" width="20px" alt=""></p>
                               <button class="play-game-btn">Vào chơi >></button>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
</body>
</html>